<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Nots Edit</title>
  </head>
  <body>
    <div class="flex flex-col h-screen bg-gray-700">
      <form action="/edit" method="post" class="m-4 py-4">
        <input
          class="block w-1/2 bg-gray-500 text-white rounded-lg min-h-14 p-5 border-2"
          value="<%=filename%>"
          type="text"
          placeholder="enter the file name"
          name="OldName"
        />
        <input
          class="block w-1/2 bg-gray-500 text-white rounded-lg min-h-14 p-5 border-2 mt-4"
          value=""
          type="text"
          placeholder="enter the file name"
          name="NewName"
        />

        <button
          id="form"
          type="submit"
          class="text-white bg-orange-500 py-2 px-4 m-3 rounded-lg"
        >
          Change Name
        </button>
        <button
          id="form"
          type="submit"
          class="text-white bg-orange-500 py-2 px-4 m-3 rounded-lg"
        >
          edit
        </button>
      </form>
    </div>
  </body>
</html>
