<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="flex flex-col h-screen bg-gray-700">
    
       
      <form  action="/create" method="post" class="m-4 py-4" >
        <input
          class="block w-full bg-gray-500 text-white rounded-lg min-h-14 p-5 border-2"
          type="text"
          placeholder="enter the file name" name="name"
        />
        <textarea name="content"
          class="block mt-4 w-full resize min-h-44 bg-gray-500 rounded-lg p-5 border-2"
          name=""
          id=""
          placeholder="write the Notes"  
        ></textarea>
        <button id="form" type="submit"  class="text-white bg-indigo-500 py-2 px-4 m-3 rounded-lg">
          Add Task
        </button>
      </form>

       
      <div class="container flex-wrap display flex ">
       <% if(file.length > 0 ){ %>
        <% file.forEach(function(val){ %>

          <div class="task w-72 bg-gray-800 p-5 m-5 px-4 py4 text-white border-2"> <%= val %>
            <a  class="block text-blue-600 mt-4" href="/file/<%= val %>">Red More</a>
          
          </div>
          
           
          


          <% }) %>

      <% } else {   %>
        <div>
          <div class="p-5">No task render</div>
        </div>
        
     <% } %>
        
        
        
      </div>
    </div>
  </div>
    <div>
     
    <script src="javascript/script.js"></script>
  </body>
</html>
